<h1> {{title}} </h1>

<div>
  <h2><label for="num1">First Number</label></h2>
  <input (input)="getNum1(num1.value)" type="text" #num1/>
  <h2><label for="num2">Second Number</label></h2>
  <input (input)="getNum2(num2.value)" type="text" #num2 />

<hr>

<button class="btn btn-info" type="button" (click)="add()">+</button>
<button class="btn btn-info" type="button" (click)="subtract()">-</button>
<button class="btn btn-info" type="button" (click)="multiply()">*</button>
<button class="btn btn-info" type="button" (click)="divide()">/</button>
</div>

<div>


  <h3>Result:</h3> 
  <h4 class="" type="text">{{result}}</h4> 
</div>
<hr>




