/* You can add global styles to this file, and also import other style files */
h1{
    text-align: center;
    font-style: italic;
    
}
div{

  text-align: center;
  font-size: 15px;
}

h2{
    font-size: 20px;

}
button{
    margin-left: 10px;

}
hr{

    width: 20%;
    margin-left: auto;
    margin-right: auto;
}
h3{

    font-size: 30px;
}
h4{
    color: red;

}